name: Pull_Request_Tests

on:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: "Checkout Master Branch"
        uses: actions/checkout@v4

      - name: Run Unit Tests
        working-directory: src/DragonflySchema.Tests
        run: |
          dotnet test --configuration Release
