name: CI

on: repository_dispatch

jobs:
  bump_dragonfly_schema:
    name: "Bump dragonfly_schema"
    runs-on: ubuntu-latest
    if: github.event.action == 'dragonfly_schema_release'

    steps:
      - name: "Checkout Master Branch"
        uses: actions/checkout@v4
        with:
          ref: refs/heads/master
          token: ${{ secrets.DEPS_UPDATING }}
          submodules: recursive

      - name: "Download new OpenApi doc"
        run: |
          make sdk

      - name: "Run build"
        run: |
          cd ./src/CSharpSDK
          dotnet build

      - name: "Commit and Push Changes"
        id: push
        env:
          VERSION: ${{ github.event.client_payload.version }}
        run: |
          git config --global user.name 'ladybugbot'
          git config --global user.email 'ladybugbot@users.noreply.github.com'
          git add .
          git commit -m "fix(deps): Bump dragonfly-schema openapi doc to $VERSION"
          git push

  bump_honeybee_schema_dotnet:
    name: "Bump honeybee_schema_dotnet"
    runs-on: ubuntu-latest
    if: github.event.action == 'honeybee_schema_dotnet_release'
    steps:
      - name: "Checkout Master Branch"
        uses: actions/checkout@v4
        with:
          ref: refs/heads/master
          token: ${{ secrets.DEPS_UPDATING }}

      - name: "Run Update Script"
        env:
          VERSION: ${{ github.event.client_payload.version }}
        run: |
          sed -i --regexp-extended 's/(Include="HoneybeeSchema" Version=").*(")/Include="HoneybeeSchema" Version="'"$VERSION"'"/' src/CSharpSDK/DragonflySchema.csproj

      - name: "Commit and Push Changes"
        id: push
        env:
          VERSION: ${{ github.event.client_payload.version }}
        run: |
          git config --global user.name 'ladybugbot'
          git config --global user.email 'ladybugbot@users.noreply.github.com'
          git add .
          git commit -m "fix(deps): Bump honeybee-schema-dotnet to $VERSION"
          git push
